contracts/**
!contracts/src
!contracts/src/**
!contracts/scripts
!contracts/scripts/**
!contracts/test
!contracts/test/**

node_modules
yarn.lock
package-lock.json
.vscode
.idea
logs/*
logs
shared
source
dist
.env

